fastapi
uvicorn[standard]
python-multipart
opencv-python-headless
numpy
torch
ultralytics
paddlepaddle
paddleocr
Pillow
python-dotenv
pydantic
pydantic-settings
# Tùy chọn: Bỏ ghi chú dòng dưới đây nếu muốn dùng Loki cho logging
python-logging-loki
requests
openai 